# Core AI
ultralytics
torch>=2.0.0
torchvision>=0.15.0

# Computer Vision

numpy==1.26.4
opencv-python==4.9.0.80

# Backend
fastapi
uvicorn
python-multipart==0.0.9

# CORS
starlette==0.36.3

# Email Support
email-validator==2.1.1

# Environment Variables (recommended)
python-dotenv==1.0.1

# Optional (if using WebSockets)
websockets==12.0

# Optional (if using MongoDB later)
pymongo==4.6.1

# Optional (if using Twilio SMS)
twilio==9.0.1